.big-box {
    width: 60%;
    height: 85%;
}

.small-box {
    width: 90%;
    height: 100%;
}

.row-box {
    position: relative;
    width: 100%;
    height: 33%;
}

.col-box {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
}

.col button {
    position: relative;
    width: 99%;
    height: 99%;
    padding: 0;
    font-size: 3em;
}

#body {
    background-color: #F2525270;
}

#body span {
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -225px;
    animation: ripple 1s forwards;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(10);
    }
}

@keyframes color1 {
    0% {
        background-color: #05DBF230;
    }
    100% {
        background-color: #F2525270;
    }
}

@keyframes color2 {
    0% {
        background-color: #F2525270;
    }
    100% {
        background-color: #05DBF230;
    }
}

@keyframes text-disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes text-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}